/*body {
  margin: 0;
  overflow: hidden;
}*/

.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|="confetti"].confetti {
  position: absolute;
}

.confetti.red {
  background-color: #E94A3F;
}

.confetti.yellow {
  background-color: #FAA040;
}

.confetti.blue {
  background-color: #5FC9F5;
}