
.text-center{
	text-align: center;
}


body{
	font-family: 'Raleway', sans-serif;
	max-width: 600px;
	margin: 0 auto;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 6em;
	letter-spacing: -7px;
	margin-top: 0;
	margin-bottom: 16px;

}
section{
	margin-bottom: 20px;
}

p{
	margin-top: 0;
	margin-top: 20px;
}


button{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 900px;
	letter-spacing: 3px; 
	background: #172D45;
	border-radius: 2em;
	margin-top: 40px;
	padding: 14px 60px;
	cursor: pointer;
	
}
button:hover{
	background: #60a6d9;
}
button:focus{
	outline: thin dotted;
}

.dot-container{
	width: 86px;
	height: 86px;

}
.sources-container{
	margin-top: 40px;
}
	.source-container{
		display: inline-block;
		margin: 0 5% 0 0;
	}
		.dot-img{
			cursor: pointer;
		}


.targets-container{
	background-image: url(../img/ia-logo-back.png);
	min-width: 600px;
	min-height: 600px;
	max-width: 600px;
	position: relative; 
}
	.target-container{
		position: absolute;
		border-radius: 3em;
		cursor: pointer;
	}
	/*.target-container-over{
		opacity: 0.5;
	}*/
	#blue-dot-target-container{
		top: 48px;
    	left: 276px;
	}
	.target-container.blue.over
	/*.target-container.blue:hover*/{
		background-color: rgba(22, 72, 128, 0.5);
	}
	/*.blue-target-container-over{
		background-color: #164880;
	}*/
	#red-dot-target-container{
		top: 72px;
    	left: 456px;
	}
	.target-container.red.over
	/*.target-container.red:hover*/{
		background-color: rgba(197, 44, 71, 0.5);
	}
	/*.red-target-container-over{
		background-color: #c52c47;
	}*/
	#green-dot-target-container{
		/*background-color: #929a38;*/
		top: 335px;
    	left: 144px;
	}
	.target-container.green.over
	/*.target-container.green:hover*/{
		background-color: rgba(146, 154, 56, 0.5);
	}
	/*.green-target-container-over{
		background-color: #929a38;
	}*/
	#black-dot-target-container{
	    top: 192px;
		left: 47px;
	}
	.target-container.black.over
	/*.target-container.black:hover*/{
		background-color: rgba(0, 0, 0, 0.5);
	}
	/*.black-target-container-over{
		background-color: #000;
	}*/
	#black-dot-2-target-container{
	    top: 288px;
		left: 420px;
	}